 *{
    margin: 0px;
    font-family: Arial;
    border: border-box;
} 
/*this is header block..*/
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
   
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 110px;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;

}
.nav-search{
    display: flex;
    background-color: yellow;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.input-search{
    width: 100%;
    font-size: 1rem;
    border: none;
    
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}
span {
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
nav-cart i {
    font-size: 20px;
}
 .nav-cart{
    font-size: 1rem;
    font-weight: 700;
} 
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;

} 
.panel-option{
    width: 70%;
    font: 0.85rem;
    /* display: flex; */
   
}
.panel-option p{
    display: inline;
    margin-left: 10px;
}
.panel-deals{
    font-weight: 700;
}

/* This is content box...*/
.content-box{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.msg{
    color: #0f1111;
    background-color: #f3f3f3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;


}
.msg a{
    color: #007185;
}
.boxset-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;  
   background-color: white;
   padding: 20px 0px 15px;
   margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.box-content p{
    color: #007185;
}
/* This is footer box...*/
footer{
    margin-top: 15px;
}
.foot-panel-1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel-2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;;
    columns: #dddddd;
}
.foot-panel-3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.foot-panel-4{
  background-color: #0f1111;
  color: white;
  height: 88px;
  font-size: 0.7rem;
  /* text-align: center; */
  
 
}
.pages{
    padding-top: 25px;
     display: flex;
    justify-content: center;
    align-items: center; 

}
.copyright{
    padding-top: 5px;
     display: flex;
    justify-content: center;
    align-items: center; 
}